* { 
	font-family: "Playfair Display", serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	color: #485551;
	margin: 0.7em;
	background: #dbdbbd;

}

p {
	font-size: 1.05em;
	margin: 1em;
	margin-right: 5em;
}
